@import '_variables.scss';

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   border: 1px solid black;
  width: 400px;
  padding: 10px;
  margin: 10px 10px;
  box-sizing: border-box;

  @media (max-width: $mobile-viewport) {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  .day-date {
    font-weight: 700;
    background-color: $purple;
    color: $content-color;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }

  .day-events {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 60px;
    color: $content-color;
    width: 100%;

    @media (max-width: $mobile-viewport) {
      padding: 20px;
      width: 100%;
      height: 100%;
    }

    .no-events {
      opacity: 0.5;
    }

    .event-item-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: x-small;
      }
    }

    .folk-event-item {
      color: $folk-color;
    }

    .public-event-item {
      color: $public-color;
    }

    ul {
      padding: 0;
    }
  }
}
