@import '_variables.scss';

.week-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
  padding: 100px 20px !important;

  @media (max-width: $mobile-viewport) {
    flex-direction: column;
    padding: 20px 0 0 0 !important;
  }

  .week {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100vh;

    @media (max-width: $mobile-viewport) {
      justify-content: space-around;
      margin: 20px 0 0 0 !important;
      width: 100%;
    }
  }
}
