$black-color: #000;
$grey-text-color: #a8a8a8;
$content-color: white;
$folk-color: cyan;
$public-color: rgb(255, 72, 173);
$header-font-size: 100px;
$mobile-header-font-size: 50px;
$green: #05e5c7;
$blue: #4285f4;
$purple: #263238;
$medium-font-size: 35px;
$mobile-medium-font-size: 30px;
$small-font-size: 20px;
$large-font-size: 40px;
$short-duration: 0.2s;
$long-duration: 0.5s;
$mobile-viewport: 768px;
